.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #fc8805;
}

.pagamento{
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.texto{
    font-size: 18px;
    font-weight: bold;
    text-align:center;
    margin: 10px;
}

.icon_label{
    color: white;
    background-color: #fc8805;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.casa{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.icon_label2{
    color:#fc8805;
    margin-left: 5px;
    text-decoration: none;
    margin-top: 30px;
}