
.banner {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.festere{
    width: 200px;
    height: auto;
}

.texto{
    font-size: 30px;
    color:orange;
    font-weight: bold;
    text-align: start;
}

.linha {
    height: 2px; /* Define a altura da linha */
    background-color: orange; /* Cor de fundo */
    width: 100%; /* Faz a linha ocupar todo o espaço horizontal */
    border: none; /* Remove bordas externas */
    margin: 10px 0; /* Espaçamento acima e abaixo da linha */
    
}

    

    
