
.container{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(255,177,17,1) 0%, rgba(246,166,5,0.9976365546218487) 47%, rgba(252,254,0,1) 96%);
}

.titulo{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
}

.subtitulo{
    font-size: 25px;
    font-family:'Arial Narrow Bold';
    text-align: center;
    color: aliceblue;
    margin: 5px;
}


.img_1, .img_2, .img_3, .img_4, .img_5, .img_6, .img_7, .img_8{
    width: 50px;
    height: 50px;

}

.icone_box {
    width: 120px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px orangered;
   background-color: aliceblue;
}


.icon_label {
    font-size: 1em;
    margin-top: 10px;
    color:  rgb(247, 115, 7);
    text-decoration: none;
}

.icones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 10px;
    flex-direction: column;
}

.linha1, .linha2, .linha3, .linha4{
    flex-direction: row;
    display: flex;
    justify-content:space-evenly;
    
}

